**Variable**

In [13]:
x=10;
print(x)

10

**String**

In [12]:
my_string = "Hello Python"
print(my_string)

Hello Python

**String Concatenation**

In [14]:
x = "Hello"
y = "World"
z = x + y
print(z)

HelloWorld

**String Integer Concatenation**

In [16]:
x = "I have " + str(10) + " apples"
print(x)

I have 10 apples

# **Lists**

In [31]:
##Lists are ordered pair of items
numbers = [1, 2, 3, 4, 5]
string = ["apple", "banana", "cherry"]
print(numbers)
print(string)
## Print using index
print(numbers[4])
print(string[1])

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
5
banana

Dictionaries

In [19]:
##example 1 (unordered pair)
dict = {"name": "John", "age": 30}
print(dict)
##example 2 (unordered pair)
dict1 = {"a": 1, "b": 2, "c": 3}
print(dict1)

{'name': 'John', 'age': 30}
{'a': 1, 'b': 2, 'c': 3}

**if-else statement to find if a number is positive or negative**

In [6]:
x = int(input("Enter a number:"))
if x > 0:
    print("x is positive")
else:
    print("x is not positive")

Enter a number:4
x is positive

**if-elif-else statement** (Code to find the grade of a student)

In [10]:
grade = int(input("Enter your grade:"))

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >= 60:
    print("D")
else:
    print("F")

Enter your grade:6
F

**For loop using range**

In [ ]:
for i in range(10):
  print(i)

**While loop (Condition: print numbers less than or equal to 5)**

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

**Function to add two numbers**

In [2]:
def add_numbers(a, b):

    return a + b


result = add_numbers(3, 5)
print("The sum is:", result)

The sum is: 8

**Creating a Class Employee**

In [32]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print(self.age)

# Create an instance of Employee
emp1 = Employee("Jack", 31)
# Create another instance of Employee
emp2 =  Employee("John", 25)

# Modify the age attribute
emp1.age = 100
emp1.name ="David"
#Delete an Employee instance
del emp2

# Print the age attribute
print(emp1.age)

#Print the name attribute
print(emp1.name)

100
David